.encrypt-tab {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 80vw;
}

.encrypt-secret-input {
  width: 100%;
}

textarea.encrypt-plaintext {
  height: 3rem;
}

.encrypt-btn {
  font-size: calc(16 / 16 * 1rem);
  padding: 8px 16px;
  color: white;
  background-color: darkcyan;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.encrypt-label {
  color: darkcyan;
  font-size: calc(14 / 16 * 1rem);
  font-weight: bold;
}
