:root{
  --slateblue-20: color-mix(in srgb, slateblue 20%, white 80%);
  --slateblue-30: color-mix(in srgb, slateblue 30%, white 70%);
  --slateblue-40: color-mix(in srgb, slateblue 40%, white 60%);
  --slateblue-60: color-mix(in srgb, slateblue 60%, white 40%);
  --slateblue-80: color-mix(in srgb, slateblue 80%, white 20%);


}

button.qrScanner__startCamera, div.qrScanner__loading {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  background-color: var(--slateblue-20);
  border: 1px solid var(--slateblue-60);
  border-radius: 4px;;
}

button.qrScanner__startCamera:hover {
  background-color: var(--slateblue-30);
}

button.qrScanner__startCamera:active {
  background-color: var(--slateblue-20);
}

video.qrScanner__video {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--slateblue-80);
  border-radius: 4px;
  filter: grayscale(1);
}

button.qrScanner__stopCamera {
  color: slateblue;
  background-color: var(--slateblue-20);
  border: 1px solid slateblue;
  border-radius: 4px;
}
