button.qrScanner__startCamera, div.qrScanner__loading {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkslateblue-20);
  border: 1px solid var(--darkslateblue-60);
  border-radius: 4px;
  color: darkslateblue;
}

button.qrScanner__startCamera svg {
  fill: currentColor;
  width: 128px;
}

button.qrScanner__startCamera:hover {
  background-color: var(--darkslateblue-30);
}

button.qrScanner__startCamera:active {
  background-color: var(--darkslateblue-20);
}

video.qrScanner__video {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--darkslateblue-80);
  border-radius: 4px;
  filter: grayscale(1);
}

button.qrScanner__stopCamera {
  color: darkslateblue;
  background-color: var(--darkslateblue-20);
  border: 1px solid darkslateblue;
  border-radius: 4px;
}
