.secret-input {
  display: flex;
  align-items: center;
  gap: 4px;
}

.secret-input-form {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
}

.secret-input-form input {
  flex-grow: 1;
}
