#encrypt legend,
#encrypt label {
  font-weight: bold;
  color: seagreen;
}

#encrypt button,
#decrypt button {
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 8px;
}

#encrypt button {
  background-color: seagreen;
}

#decrypt button {
  background-color: tomato;
}

#decrypt legend,
#decrypt label {
  font-weight: bold;
  color: tomato;
}

fieldset {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
}

input,
textarea {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  padding: 4px 8px;
  color: rgb(50, 50, 50);
  font-size: calc(12 / 16 * 1rem);
  font-family: "Monoid Tight", monospace;
}

.columns {
  display: flex;
  gap: 16px;
}

.form-body {
  width: 30vw;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#output {
  margin-top: 12px;
  padding: 8px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  color: rgb(50, 50, 50);
  font-family: "Monoid Tight", monospace;
  font-size: calc(12 / 16 * 1rem);
  width: 30vw;
  min-height: 40vh;
  overflow-wrap: anywhere;
}

#output[data-status="error"] {
  background-color: rgb(255, 230, 230);
  color: rgb(200, 0, 0);
  border: 1px solid rgb(220, 180, 180);
}
